.similarMoviesContainer {
  margin-top: 2rem;
  max-width: 1350px;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .slide {
    padding: 0 10px;
  }

  p {
    color: #ccc;
    font-size: 1.1rem;
  }
}
