.container {
  background-color: #e10748;
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 10px 15px 10px 10px;
  cursor: pointer;
  user-select: none;
  border-radius: 10px;
  box-shadow: rgba(46, 46, 46, 0.2) 0px 8px 24px;
  color: rgb(255, 255, 255);
}

.favorite {
  display: none;
}

.favorite:checked + .container svg {
  fill: hsl(0deg 100% 50%);
  stroke: hsl(0deg 100% 50%);
  animation: heartButton 1s;
}

@keyframes heartButton {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.3);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

.action {
  position: relative;
  overflow: hidden;
  display: grid;
}

.action span {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  transition: all 0.5s;
}

.option1 {
  transform: translate(0px, 0%);
  opacity: 1;
}

.favorite:checked + .container .action .option1 {
  transform: translate(0px, -100%);
  opacity: 0;
}

.option2 {
  transform: translate(0px, 100%);
  opacity: 0;
}

.favorite:checked + .container .action .option2 {
  transform: translate(0px, 0%);
  opacity: 1;
}