.menuList {
  display: flex;
  gap: 1rem;
  color: var(--white-color);
  margin-left: 15px;

  .menuItem {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    color: var(--white-color);
    opacity: 1;
    cursor: pointer;
    flex-wrap: nowrap;

    p {
      white-space: nowrap;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-left: 0;
  }
}
