.menuList {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  gap: 1.5rem;
  padding: 0rem 3rem;
  padding-right: 0 ;
  border-radius: 25px;
  background: rgba(240, 255, 255, 0.086);

  .menuItem {
    user-select: none;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }

  @media (max-width: 768px) {
    gap: 1rem;
  }
}
