.buttonPlay {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  border-radius: 18px;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background: var(--secondary-color);
  box-shadow: 0 0 0.2em 0 var(--secondary-color-hover);
  transition: all 6s ease-in-out;
}

.buttonPlay:active {
  transform: scale(0.95);
}

.buttonPlay:hover {
  outline: 0.1em solid transparent;
  outline-offset: 0.2em;
  box-shadow: 0 0 1em 0 var(--secondary-color-hover);
  animation: ripple 1s linear infinite, colorize 1s infinite;
  transition: 0.5s;
}

.buttonPlay span {
  margin-right: 0.8em;
  transition: 0.5s;
}

.buttonPlay:hover span {
  text-shadow: 5px 5px 5px #00000017;
}

.buttonPlay:active span {
  text-shadow: none;
}

.buttonPlay svg {
  height: 0.8em;
  fill: var(--white-color);
  margin-right: -0.16em;
  position: relative;
  transition: 0.5s;
}

.buttonPlay:hover svg {
  margin-right: 0.66em;
  transition: 0.5s;
  filter: drop-shadow(5px 5px 2.5px #00000017);
}

.buttonPlay:active svg {
  filter: none;
}

.buttonPlay svg polygon:nth-child(1) {
  transition: 0.4s;
  transform: translateX(-60%);
}

.buttonPlay svg polygon:nth-child(2) {
  transition: 0.5s;
  transform: translateX(-30%);
}

.buttonPlay:hover svg polygon:nth-child(1) {
  transform: translateX(0%);
  animation: opacity 1s infinite 0.6s;
}

.buttonPlay:hover svg polygon:nth-child(2) {
  transform: translateX(0%);
  animation: opacity 1s infinite 0.4s;
}

.buttonPlay:hover svg polygon:nth-child(3) {
  animation: opacity 1s infinite 0.2s;
}
