.carouselRoot {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 1.5rem;
}

.scrollAreaRoot {
  width: 100%;
  height: auto;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 5%,
    black 95%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 5%,
    black 95%,
    transparent
  );
}

.scrollAreaViewport {
  width: 100%;
  height: 100%;
}

.contentContainer {
  display: flex;
  padding: 1rem 0.5rem;
}

.slide {
  flex: 0 0 auto;
  padding: 0 0.5rem;
}

.navButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: var(--secondary-color);
  color: var(--white-color);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.8s all ease-in-out;
  border: none;
  outline: none;

  &:hover {
    border: 8px solid var(--secondary-color-hover);
  }
}

.prevButton {
  left: -25px;
}

.nextButton {
  right: -25px;
}
