.heroContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin: 1rem;

  .heroContent {
    border-radius: 18px;
    height: 400px;
    width: 100%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 18px;

      @media (max-width: 768px) {
        border-radius: 0;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to top,
        rgba(10, 5, 20, 0.95) 0%,
        rgba(10, 5, 20, 0.6) 100%
      );
      border-radius: 18px;
      z-index: 1;

      @media (max-width: 768px) {
        border-radius: 0;
      }
    }
  }
  @media (max-width: 768px) {
    margin: 0;
    padding: 0;
  }
}
