.heroContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin: 1rem;

  .heroContent {
    border-radius: 18px;
    height: 300px;
    width: 100%;
    position: relative;

    .heroVideo {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 18px;

      @media (max-width: 768px) {
        border-radius: 0;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to top,
        rgba(10, 5, 20, 0.366) 0%,
        rgba(10, 5, 20, 0.36) 100%
      );
      border-radius: 18px;
      z-index: 1;

      @media (max-width: 768px) {
        border-radius: 0;
      }
    }
  }
  @media (max-width: 768px) {
    margin: 0;
    padding: 0;
  }

  .actions {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 19rem;
    left: 4rem;

    gap: 1rem;
    padding: 0 20px;
    // margin: 1rem;
    z-index: 2;

    .textContent {
      color: var(--white-color);
      max-width: 600px;

      .heroTitle {
        margin-bottom: 0.3rem;
      }

      .heroDescription {
        line-height: 1.5;
      }
    }

    .buttons {
      display: flex;
      gap: 1rem;

      button {
        background: var(--white-color);
        color: rgb(0, 0, 0);
        border-radius: 18px;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem 1rem;
        transition: all 0.6s ease-in-out;
        opacity: 1;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
