.categorieSection {
  padding: 2rem 0;
}

.listContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
  padding: 0;
}

.categoryItemSkeleton {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
}

.circleSkeleton {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  background-color: #222;
  animation: pulse 1.5s infinite ease-in-out;
}

.nameSkeleton {
  width: 80px;
  height: 1rem;
  background-color: #222;
  border-radius: 4px;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}