.movieCard {
  user-select: none;
  color: var(--white-color);
  width: 100%;
  aspect-ratio: 2 / 3;
  border-radius: 18px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;

  .badge {
    position: absolute;
    top: 1rem;
    right: 0;
    z-index: 3;
    background: var(--warning-color);
    color: #000000;
    padding: 0.5rem 0.4rem;
    border-radius: 5px 0 0 5px;
  }

  .poster {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2c2c2c;

    .posterImage {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 1;
      z-index: 1;
    }
  }

  .favButton {
    z-index: 1000;
    position: absolute;
    top: 10;
    left: 6;
  }

  .movieInfo {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0.8rem;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    z-index: 3;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);

    .infoContainer {
      position: relative;
      min-height: 42px;
    }

    .infoContent {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }

    .title {
      margin-bottom: 6px;
    }
    .overview {
      font-size: 0.75rem;
    }
    .overviewHidden {
      height: 0;
      margin-top: 8px;
      opacity: 0;
      transition: all 0.6s;

      button {
        width: 100%;
        margin-top: 10px;
      }
    }
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.03);

    .overviewHidden {
      opacity: 1;
    }

    .movieInfo:has(.overview) .overviewHidden {
      height: 100px;
    }

    .movieInfo:not(:has(.overview)) .overviewHidden {
      height: 50px;
    }
  }
}
