.movieCard {
  color: var(--white-color);
  width: 100%;
  aspect-ratio: 2 / 3;
  border-radius: 18px;
  overflow: hidden;
  position: relative;

  .badge {
    position: absolute;
    top: 1rem;
    right: 0;
    z-index: 1;
    background: var(--warning-color);
    color: #000000;
    padding: 0.5rem 0.4rem;
    border-radius: 5px 0 0 5px;
    font-size: 0.65rem;
  }

  .poster {
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #2c2c2c;

    .imagePlaceholder {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #3a3a3a;
    }

    .posterImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }

    .posterImageLoaded {
      opacity: 1;
    }
  }

  .movieInfo {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0.8rem;
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);

    .hidden {
      opacity: 0;
      pointer-events: none;
    }

    .infoContainer {
      position: relative;
      min-height: 42px;
    }

    .infoPlaceholder,
    .infoContent {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      transition: opacity 0.5s ease-in-out;
    }

    .infoPlaceholder {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .textPlaceholder {
      width: 80%;
      height: 1rem;
      background-color: #505050;
      border-radius: 4px;
    }

    .starsPlaceholder {
      width: 50%;
      height: 1rem;
      background-color: #505050;
      border-radius: 4px;
    }

    .title {
      font-size: 0.8rem;
      margin-bottom: 6px;
    }
    .overviewHidden {
      font-size: 0.75rem;
      height: 0;
      margin-top: 8px;
      opacity: 0;
      transition: all 0.6s;

      button {
        width: 100%;
        margin-top: 10px;
      }
    }
  }

  &:hover {
    cursor: pointer;

    .poster img {
      opacity: 0.5;
    }
    .overviewHidden {
      opacity: 1;
    }

    .movieInfo:has(.overview) .overviewHidden {
      height: 100px;
    }

    .movieInfo:not(:has(.overview)) .overviewHidden {
      height: 50px;
    }
  }
}
