.movieCard {
  color: var(--white-color);
  width: 100%;
  height: 100%;
  border-radius: 18px;
  overflow: hidden;
  position: relative;

  .poster {
    text-align: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
    }
  }

  .movieInfo {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0.8rem;
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(#00000000, #000000 90%);

    .title {
      font-size: 0.8rem;
      margin-bottom: 6px;
    }
    .overviewHidden {
      font-size: 0.75rem;
      height: 0;
      margin-top: 8px;
      opacity: 0;
      transition: all 0.6s;

      button {
        width: 100%;
        background: var(--btn-primary-color);
      }
    }
  }

  &:hover {
    cursor: pointer;

    .poster img {
      opacity: 0.5;
    }
    .overviewHidden {
      opacity: 1;
    }

    .movieInfo:has(.overview) .overviewHidden {
      height: 100px;
    }

    .movieInfo:not(:has(.overview)) .overviewHidden {
      height: 50px;
    }
  }
}
