.navBar {
  user-select: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  background: var(--primary-color);
  padding: 0.7rem 3rem;
  border-bottom: solid 1px #1f0b30;
  position: fixed;
  width: 100%;
  z-index: 10;

  @media (max-width: 768px) {
    padding: 0.5rem 1rem;
  }
}
