.navBar {
  user-select: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  background: var(--primary-color);
  padding: 0.7rem 3rem;
  border-bottom: solid 1px #1f0b30;

  .actions {
    display: flex;
    font-weight: 500;
    gap: 1.5rem;
    align-items: center;
    color: var(--white-color);

    .userIcon {
      width: 40px;
      height: 40px;
      cursor: pointer;
      transition: transform 0.2s ease-out;
      background-color: aliceblue;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }

    svg {
      position: absolute;
      bottom: 0;
      left: -5px;
      width: 50px !important;
      height: 50px !important;
    }

    .userIconClicked {
      transform: scale(1.2);
    }
  }
  @media (max-width: 768px) {
    padding: 0.5rem 1rem;
  }
}
