.navBar {
  user-select: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  background: var(--primary-color);
  padding: 0.7rem 3rem;
  border-bottom: solid 1px #1f0b30;

  .actions {
    display: flex;
    font-weight: 500;
    gap: 1rem;
    align-items: center;
    color: var(--white-color);
    background: var(--background-color);
    border-radius: 18px;
    padding: 0.2rem 1rem;
    cursor: pointer;

    .userName {
      display: flex;
      align-items: flex-end;
    }
    .userIcon {
      width: 35px;
      height: 35px;
      cursor: pointer;
      transition: transform 0.2s ease-out;
      background-color: var(--white-color);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      svg {
        position: absolute;
        bottom: 0;
        left: -3px;
        width: 44px !important;
        height: 44px !important;
      }
    }

    .settingsIcon {
      font-size: 1.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--primary-color);
      border-radius: 50%;
    }

    .settingsMenu {
      background-color: var(--secondary-color);
      border-radius: 0.5rem;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      border: 1px solid #3a3a3a;

      a {
        padding: 0.5rem 1rem;
        color: var(--white-color);
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.2s;

        &:hover {
          background-color: var(--primary-color);
        }
      }

      hr {
        border: none;
        border-top: 1px solid #3a3a3a;
        margin: 0.25rem 0;
      }
    }

    .userIconClicked {
      transform: scale(1.2);
    }
  }
  @media (max-width: 768px) {
    padding: 0.5rem 1rem;
  }
}
