.categorieSection {
  padding: 2rem 0;
}

.listContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
  padding: 0;
}

.categoryItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-10px);
  }
}

.circle {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.imageContainer {
  position: absolute;
  bottom: 36px;
  width: 120px;
  height: 120px;

  .categoryImage {
    object-fit: contain;
    border-radius: 0 0 60px 60px;
    height: 130px;
  }
}

.categoryName {
  font-weight: 600;
  color: var(--white-color);
  text-align: center;
}

.moreItem {
  display: flex;
  align-items: flex-end;
  // padding-bottom: 1.5rem;
}

.moreButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--white-color);
  font-weight: 600;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--secondary-color);
  }
}

.arrowIcon {
  display: inline-block;
  transform: rotate(-90deg);
  transition: transform 0.3s ease-in-out;
}

.arrowOpen {
  transform: rotate(90deg);
}

.dropdownMenu {
  position: absolute;
  top: -9rem;
  left: 3rem;
  z-index: 1;
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid #3a3a3a;

  li {
    padding: 0.5rem 1rem;
    color: var(--white-color);
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.2s;
    cursor: pointer;

    &:hover {
      background-color: var(--primary-color);
    }
  }
}
