.categorieSection {
  padding: 2rem 0;
}

.listContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
  padding: 0;
}

.categoryItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-10px);
  }
}

.circle {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 20px,
    hsla(0, 0%, 100%, 0.076) 0,
    hsla(0, 0%, 100%, 0.122) 40px
  );
}

.imageContainer {
  position: absolute;
  bottom: 36px;
  height: 120px;

  .categoryImage {
    object-fit: contain;
    border-radius: 0 0 60px 60px;
    height: 127px;
    width: auto;
  }
}

.categoryName {
  font-weight: 530;
  color: var(--white-color);
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.nameContainer {
  position: relative;
  padding-bottom: 5px;
}

.activeName {
  color: var(--secondary-color);
}

.indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80%;
  height: 2px;
  background: linear-gradient(90deg, var(--secondary-color), transparent);
  box-shadow: 0 0 8px var(--secondary-color);
  transition: all 0.5s ease-in-out;
}

.moreItem {
  display: flex;
  align-items: flex-end;
  // padding-bottom: 1.5rem;
}

.moreButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--white-color);
  transition: background-color 0.3s;
  padding-bottom: 5px;
  transition: all 0.5s ease-in-out;
  svg {
    vertical-align: middle;
    margin-right: 0.3rem;
    width: .8rem;
    height: .8rem;
    transition: all 0.5s ease-in-out;
  }

  &:hover {
    color: var(--secondary-color);
  }
}

.arrowIcon {
  display: inline-block;
  transform: rotate(-90deg);
  transition: transform 0.3s ease-in-out;
}

.arrowOpen {
  transform: rotate(90deg);
}

.dropdownMenu {
  position: absolute;
  top: -9rem;
  left: 1rem;
  z-index: 1;
  background-color: var(--background-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid #3a3a3a;
  max-height: 250px;
  min-width: 12rem;
  overflow: auto;
  transition: all 0.5s ease-in-out;

  li {
    padding: 0.5rem 1rem;
    color: var(--white-color);
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.2s;
    cursor: pointer;

    &:hover {
      background-color: var(--secondary-color);
      transition: 0.5s all ease-in-out;
      svg {
        fill: var(--white-color);
      }
    }
  }
}
.iconList {
  vertical-align: middle;
  color: var(--secondary-color);
  margin-right: 1rem;
  transition: all 0.5s ease-in-out;

  &.title {
    margin-right: 0.2rem;
  }
}
.active {
  border: 3rem solid var(--secondary-color);
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 10px var(--secondary-color);
}

.activeDropdown {
  background-color: var(--secondary-color);
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 10px var(--secondary-color);
}
