.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90vh;
  width: 100%;

  .animationContainer {
    z-index: 1;
    position: relative;

    .lottie {
      width: 300px;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  .animationContainer::before {
    content: "";
    position: absolute;
    background-image: url("/blob.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: float 8s ease-in-out infinite;
  }

  h3 {
    font-weight: 500;
    font-size: 2rem;
  }

  p {
    font-size: 1.2rem;
    color: #ccc;
    margin-top: 0.5rem;
  }

  .homeButton {
    margin-top: 2rem;
    padding: 0.75rem 1.5rem;
    background-color: #e50914;
    color: #fff;
    border-radius: 18px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #fd2933;
    }
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
