// STYLES
@use "../styles/base";
@use "../styles/variables";
@use "../styles/mixins";

// COMPONENTS
@use "../components/NavBar/NavBar.module.scss";
@use "../components/Footer/Footer.module.scss";
@use "../components/MovieGrid/MovieGrid.module.scss";
@use "../components/Logo/Logo.module.scss";

