// STYLES
@use "../styles/base";
@use "../styles/variables";
@use "../styles/mixins";

// STYLE COMPONENTS
@use "../styles/buttons.scss";
@use "../styles/overlay.scss";
@use "../styles/animations.scss";

// SLICK CAROUSEL
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
