.container {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 10px 15px 10px 10px;
  border-radius: 10px;
  background-color: rgb(36, 36, 36);
  box-shadow: rgba(46, 46, 46, 0.2) 0px 8px 24px;
}

.heartSkeleton {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #333;
  animation: pulse 1.5s infinite ease-in-out;
}

.textSkeleton {
  width: 120px;
  height: 1rem;
  background-color: #333;
  border-radius: 4px;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
