.notFoundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  text-align: center;
  height: 100vh;


  p {
    margin-top: 1rem;
    font-weight: 500;
  }

  div {
    max-width: 200px;
  }
}
