.filmContainer {
  display: flex;
  padding: 5rem;
  gap: 2rem;
  color: var(--white-color);
  min-height: calc(100vh - 80px);

  @media (max-width: 768px) {
    padding: 2rem;
  }
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-right: 5px solid var(--border-gray-color);
}

.topContent {
  display: flex;
  gap: 2rem;

  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
  }
}

.sidebar {
  width: 300px;
  flex-shrink: 0;
}

.similarSection {
  width: 100%;
}

.poster {
  flex: 1;
  max-width: 300px;

  img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin-bottom: 1rem;
  }

  @media (max-width: 768px) {
    img {
      max-width: 300px;

      height: auto;
      border-radius: 12px;
    }
  }
}

.actions {
  display: flex;
  gap: 1rem;

  .trailerButton,
  .watchButton {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 18px;
    font-size: 1rem;
    transition: background-color 0.5s ease;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
  }
  .trailerButton {
    background-color: var(--gray-color);
    color: var(--white-color);

    &:hover {
      background-color: var(--soft-gray-color);
    }
  }

  .watchButton {
    background-color: var(--danger-color);
    color: var(--white-color);

    &:hover {
      background-color: var(--soft-red-color);
    }
  }
}

.titleRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.details {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  h2 {
    font-weight: bold;
  }

  .overview {
    line-height: 1.6;
    max-width: 40rem;
  }
  .companies {
    display: flex;
    gap: 0.5rem;

    img {
      background-color: var(--gray-color);
      padding: 0.3rem;
      max-width: 50px;
      height: auto;
      border-radius: 8px;
      object-fit: contain;
    }
  }

  .info {
    display: flex;
    gap: 2rem;
    font-size: 1rem;
    color: var(--gray-color);
    align-items: center;

    span {
      display: flex;
      gap: 0.5rem;
    }
  }
}

.rating {
  color: var(--warning-color);
}

.tagline {
  font-style: italic;
  color: #a0a0a0;
  margin-top: -1rem;
  opacity: 0.9;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;

  .genre {
    background-color: var(--secondary-color);
    padding: 0.4rem 0.9rem;
    border-radius: 15px;
    font-size: 0.9rem;
  }
}
@media (max-width: 768px) {
  .filmContainer {
    flex-direction: column;
    align-items: center;
  }

  .poster {
    max-width: 100%;
  }

  .details {
    align-items: center;
    text-align: center;
  }
}

.adultBadge {
  background-color: var(--red-color);
  color: var(--white-color);
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: bold;
  margin-left: 1rem;
}

.ratingBadge {
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  color: var(--white-color);
  user-select: none;
}

.ratingL {
  background-color: var(--success-color);
}
.rating10 {
  background-color: var(--blue-color);
}
.rating12 {
  background-color: var(--warning-color);
  color: #000;
}
.rating14 {
  background-color: var(--orange-color);
}
.rating16 {
  background-color: var(--red-color);
}
.rating18 {
  background-color: var(--black-color);
  border: 1px solid var(--white-color);
}
