@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}

.heroContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin: 1rem;

  .heroContent {
    border-radius: 18px;
    height: 400px;
    width: 100%;
    background-color: #1f1f1f;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  @media (max-width: 768px) {
    margin: 0;
    padding: 0;

    .heroContent {
      border-radius: 0;
    }
  }
}
