.footer {
  background-color: var(--background-color);
  color: var(--white-color);
  padding: 4rem 2rem 1rem;
  border-top: 1px solid var(--border-gray-color);
  background-image: url("/wave.svg");
  background-repeat: no-repeat;

}

.footerContent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--border-gray-color);
}

.logoSocial {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.links {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
}

.linkColumn {
  h4 {
    margin-bottom: 1rem;
    color: var(--white-color);
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 0.9rem;

    &:hover {
      color: var(--secondary-color);
    }
  }
}

.copyright {
  text-align: center;
  margin-top: 1rem;
  color: #ccc;
  font-size: 0.9rem;
}
