.searchContainer {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 30px;
  padding: 0.2rem 0.5rem;
  transition: all 0.4s ease-in-out;
  border: 1px solid transparent;

  input {

    &::placeholder {
      color: #ccc;
      font-size: 0.7rem;
    }
  }
  input,
  button {
    opacity: 0;
    width: 0;
    padding: 0;
    border: none;
    margin: 0;
    transition: all 0.4s ease-in-out;
  }

  .searchIcon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: var(--primary-color);
    z-index: 1;

    svg {
      fill: var(--white-color);
    }
  }
}

.searchOpen {
  gap: 0.5rem;
  padding: 0.2rem 0.5rem;
  border: 1px solid #ffffff88;
  backdrop-filter: blur(10px);
  background-color: rgba(31, 31, 31, 0.5);

  input {
    padding-left: .5rem;
    opacity: 1;
    width: 250px;
    background: transparent;
    color: var(--white-color);
    font-size: 1rem;
  }

  button {
    opacity: 1;
    width: auto;
    padding: 0.5rem 1rem;
  }
}
