.actions {
  display: flex;
  font-weight: 500;
  gap: 1rem;
  align-items: center;
  color: var(--white-color);
  background: var(--soft-white-color);
  border-radius: 18px;
  padding: 0.2rem 1rem;
  cursor: pointer;

  .userName {
    display: flex;
    align-items: flex-end;
  }
  .userIcon {
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: transform 0.2s ease-out;
    background-color: var(--white-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    svg {
      position: absolute;
      bottom: 0;
      left: -3px;
      width: 40px !important;
      height: 40px !important;
    }
  }

  .favMovies {
    display: flex;
    align-items: center;
    font-size: 1rem;
    border: 1px solid var(--secondary-color);
    gap: 0.5rem;
    padding: 0.3rem 1.1rem;
    border-radius: 18px;
    color: var(--white-color);
    background: var(--primary-color);
    transition: 0.4s all ease-in-out;

    svg {
      font-size: 1.8rem;
      background-color: var(--secondary-color);
      padding: 0.3rem;
      border-radius: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    &:hover {
      &:hover {
        box-shadow: 0 0 1rem 0 var(--secondary-color-hover);
      }
    }
  }

  .settingsIcon {
    font-size: 1.8rem;
    background: var(--secondary-color);
    padding: 0.3rem;
    border-radius: 18px;
    vertical-align: middle; 
    
  }

  .settingsMenu {
    background: var(--primary-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 0.5rem;
    border: 1px solid #3a3a3a;
    svg {
      vertical-align: text-bottom;
      margin-right: 0.6rem;
    }

    a {
      padding: 0.5rem 1rem;
      color: var(--white-color);
      text-decoration: none;
      border-radius: 18px;
      transition: background-color 0.5s;

      &:hover {
        background-color: var(--secondary-color);
      }
    }
    hr {
      border: none;
      border-top: 1px solid #3a3a3a;
      margin: 0.25rem 0;
    }
  }

  .userIconClicked {
    transform: scale(1.2);
  }
}
