.socialIconsContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  min-width: 250px;
}

.iconWrapper {
  position: relative;
  width: 50px;
  height: 50px;
  background: var(--white-color);
  border-radius: 50%;
  cursor: pointer;
  text-align: center;

  .iconName {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%) scale(0);
    font-size: 12px;
    color: var(--white-color);
    border-radius: 3px;
    padding: 3px;
    transition: transform 0.3s ease;
    white-space: nowrap;
  }

  &:hover .iconName {
    transform: translateX(-50%) scale(1);
  }

  &.insta:hover .iconName {
    background: linear-gradient(
      30deg,
      var(--blue-color),
      var(--insta-secondary-color)
    );
  }
  &.linkedin:hover .iconName {
    background: var(--linkedin-color);
  }
  &.whatsapp:hover .iconName {
    background: var(--whatsapp-color);
  }
  &.youtube:hover .iconName {
    background: var(--red-color);
  }

  .icon {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease;
    color: var(--black-color);

    &:hover {
      color: var(--white-color);
      box-shadow: 5px 5px 10px #181717ce;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0;
      border-radius: 50%;
      transform: rotateX(360deg);
      transition: height 0.3s ease;
      z-index: -1;
    }

    &:hover::before {
      height: 100%;
      z-index: 1;
    }

    &.tube::before {
      z-index: -1;
      background: var(--red-color);
    }
    &.insta::before {
      z-index: -1;
      background: linear-gradient(
        30deg,
        var(--blue-color),
        var(--insta-secondary-color)
      );
    }
    &.link::before {
      z-index: -1;
      background: var(--linkedin-color);
    }
    &.whats::before {
      z-index: -1;
      background: var(--whatsapp-color);
    }
  }
}
