:root {
  --primary-color: linear-gradient(hsl(237, 57%, 7%), #0f1629);
  --secondary-color: #030412;
  --white-color: #f1f5f9;

  //BUTTONS
  --btn-primary-color: #482250;

  // ACTIONS
  --danger-color: rgb(195, 55, 36);
  --success-color: rgb(2, 171, 75);
  --warning-color: rgb(255, 230, 0);
}
