:root {
  --primary-color: linear-gradient(var(--background-color), #0f1629);
  --secondary-color: #e10748;
  --background-color: #030412;

  // ELEMENTS
  --placeholder-color: rgb(117, 117, 117);
  --border-gray-color: #2f2e2e;

  // ACTIONS
  --danger-color: rgb(175, 20, 0);
  --success-color: rgb(2, 171, 75);
  --warning-color: rgb(255, 230, 0);

  // COLOR NAMES
  --white-color: #f1f5f9;
  --orange-color: #fd7e14;
  --blue-color: #007bff;
  --red-color: #dc3545;
  --black-color: #000;
  --gray-color: #444;
  --purple-color: #482250;

  // SOFT COLORS
  --soft-red-color: #fd2933;
  --soft-gray-color: #555;
  --soft-white-color: #f0ffff16;

  // HOVER
  --secondary-color-hover: #ff1472;

  // FOOTER ICONS
  --insta-color: #1919ee;
  --insta-secondary-color: #d112c5;
  --linkedin-color: #0274b3;
  --whatsapp-color: #25d366;
  --youtube-color: #ff0000;


}
