:root {
  --primary-color: linear-gradient(hsl(237, 57%, 7%), #0f1629);
  --secondary-color: #030412;
  --white-color: #f1f5f9;
  --background-color: #f0ffff16;

  //BUTTONS
  --btn-primary-color: #482250;

  // ACTIONS
  --danger-color: rgb(175, 20, 0);
  --success-color: rgb(2, 171, 75);
  --warning-color: rgb(255, 230, 0);
  --orange-color: #fd7e14;
  --blue-color: #007bff;
  --red-color: #dc3545;
  --black-color: #000;
  --gray-color: #444;
  --gray-border-color: #2f2e2e;

  // SOFT COLORS
  --soft-red-color: #fd2933;
  --soft-gray-color: #555;
}
