.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out,
    visibility 0.3s;
}

.overlay.visible {
  background: rgba(0, 0, 0, 0.85);
  opacity: 1;
  visibility: visible;
}
